# Laravel (backend)
backend/storage/*.key
backend/storage/pail
backend/storage/*.cache
backend/vendor
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/.phpunit.cache
backend/.phpactor.json
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/.env
backend/.env.backup
backend/.env.production

# Logs & misc
*.log
.DS_Store
Thumbs.db

# IDE / editors
.fleet
.idea
.nova
.vscode
.zed

# Frontend (React/Vite)
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env

# General
.env
