APP_NAME=SnackBox
APP_ENV=production
APP_KEY=base64:rE9ueVv+tdV/wzmpvxu0WrEdDMNJ5jUFIYgOZehpo5A=
APP_DEBUG=false
APP_URL=https://snackbox-backend.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


# --- Database (Railway MySQL) ---
DB_CONNECTION=mysql
DB_HOST=yamanote.proxy.rlwy.net     # from MYSQL_PUBLIC_URL
DB_PORT=51224                       # from MYSQL_PUBLIC_URL
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=mUNMZvKoTySBqQVWFzWGtCWKjVEWYPER


SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
# Set to null because the Vite proxy makes both apps appear on the same domain.
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false
SESSION_COOKIE=snackbox_session
SESSION_SAME_SITE=lax

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public
BROADCAST_CONNECTION=log


# --- SPA / Sanctum / CORS ---
# These must list your React dev server URL for Sanctum to trust it.
FRONTEND_URL=https://snackbox-frontend.onrender.com
SANCTUM_STATEFUL_DOMAINS=https://snackbox-frontend.onrender.com
CORS_ALLOWED_ORIGINS=https://snackbox-frontend.onrender.com

VITE_APP_NAME="${APP_NAME}"
